body {
	background-image: url("images/paisley_background.png");
	background-repeat: repeat;
	background-color: #f0e8cc;
	background-size: 450px;
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

form {
	line-height: 25px;
}

.counter_number {
	font-size: 300%;	
	overflow: break;
}

#heading_info {
	background-image: linear-gradient(rgba(240, 232, 204,1),rgba(240, 232, 204,1), rgba(0,0,0,0));
}

.header {
	margin-left: 10%;	
	color: #297ca6;
	text-decoration: none;
}

.header a {
	color:#297ca6;
	text-decoration: none;
}

.header a:visited {
	color:#297ca6;
	text-decoration: none;
}

.navbar {
	background-color: #010d33;
	overflow: hidden;
	margin-left: 8%;
	margin-right: 8%;
	border-radius: 20px 20px 0px 0px;
}

.navbar a {
	float: left;
	color: #93B5C6;
	text-decoration: none;
	text-align: center;
	padding: 15px 15px;
	display: block;
}

.navbar a:hover {
	font-size: 105%;
	color: #010d33;
	background-color: #93B5C6;
}

.navtext {
	margin-left: 1.75%;
}


.counter {
	width: 200px;
	text-align: center;
	align-self: center;
}

.counter button {	
	color:#010d33;	
	background-color: #f0e8cc;	
	font-size: 500%;	
	border: none;	
	border-radius: 10%;	
	transition-duration: 0.2s;	
	width: 50%;
}
.counter button:hover {	
	color: #eed889;	
	background-color: #010d33;
}

.overlay {	
	width: 80%;	
	overflow: hidden;
	min-width: 30%;
	margin-left: 8%;
	padding: 2%;
	height: 70%;
	background-color: #ccc3a3;
	border-radius: 0px 0px 40px 40px;
}

.overlay_flex {
	display: flex;
}

.summary {
	font-family: Georgia, serif;
	color: #f0e8cc;
	flex: 1;
	text-align: left;
	border-radius: 5px;
	overflow: hidden;
	background-color: #010d33;
}


.summary h1 {
	margin: 3%;
}

.summary p {
	margin: 3%;
}

.summary a:visited {
	color:#b1a98f;
}

.summary a:link {
	color:#b1a98f;
}

.summary ul {
	margin: 3%;
}


.contact {
	text-align: right;
	margin-right: 10%;
	color:#297ca6;
}

.contact img {
	width: 50px;
	height: 50px;
	color:#93B5C6;
}

.project {
	display: flex;
}

.project img {
	width: 20%;
	min-width: 10%;
}

.project_summary {
	flex: 2;
}
